# Python temporary files:
__pycache__/
*.pyc

# Minted (Program code in LaTeX) temporary files:
_minted*/

# Jupyter notebook checkpoints:
.ipynb_checkpoints/

# Datadump files
*.npy

# Vim temporary/auxiliary files:
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.sav

# LaTeX auxiliary files:
*.log
*.aux
*.bbl
*.blg
*.out
*.lof
*.lot
*.toc
*.sty

# Archive files:
*.tar.gz

# Locally compiled files
*.so

# Articles
articles/

# Large image files
notebooks/final_results/*
report/latex_source/figures/mpl-figs/*
notebooks/ABC_flow/stuff/*
notebooks/tor-fjord/*

# Pseudohacky stuff
bspline-fortran-arnes-mod/

# Temporary build folders
cythonmagic/*/build/*
